<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Game Database
  %%
  Copyright (C) 2016 - 2016 LCManager Group
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lcmanager.gdb.service.impl.data.mapper.DeveloperMapper">
	<resultMap type="Developer" id="developer">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>

	<!-- Methods from BaseMapper. -->
	<insert id="insert" parameterType="Map" useGeneratedKeys="true" keyProperty="obj.id">
		INSERT INTO Developer (
			id,
			name
		) VALUES (
			#{obj.id},
			#{obj.name}
		)
	</insert>
	<update id="update" parameterType="Map">
		UPDATE
			Developer
		SET
			name = #{obj.name}
		WHERE
			id = #{obj.id}
	</update>
	<insert id="save" parameterType="Map" useGeneratedKeys="true" keyProperty="obj.id">
		INSERT INTO Developer (
			id,
			name
		) VALUES (
			id,
			name
		) ON DUPLICATE KEY UPDATE
			name = #{obj.name}
	</insert>
	<delete id="delete" parameterType="Map">
		DELETE
		FROM
			Developer
		WHERE
			id = #{id}
	</delete>
	<select id="exists" parameterType="Map" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			Developer
		WHERE
			id = #{obj.id}
	</select>
	<select id="findById" parameterType="Map" resultMap="developer">
		SELECT
			id,
			name
		FROM
			Developer
		WHERE
			id = #{obj.id}
	</select>
	<select id="find" resultMap="developer">
		SELECT
			id,
			name
		FROM
			Developer
	</select>

	<!-- Methods from DeveloperMapper. -->
</mapper>
