<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Game Database
  %%
  Copyright (C) 2016 - 2016 LCManager Group
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lcmanager.gdb.service.impl.data.mapper.GameMapper">
	<!-- Magic. Do not touch! -->
	<resultMap type="Game" id="game">
		<id property="id" column="gameId" />
		<result property="name" column="gameName" />
		<result property="requiredAge" column="gameRequiredAge" />
		<result property="description" column="gameDescription" />
		<result property="headerImage" column="gameHeaderImage" />
		<result property="website" column="gameWebsite" />
		<result property="metacriticScore" column="gameMetacriticScore" />
		<result property="metacriticUrl" column="gameMetacriticUrl" />
		<result property="releaseDate" column="gameReleaseDate" />
		<result property="backgroundImage" column="gameBackgroundImage" />
		<collection property="screenshots" ofType="Screenshot" foreignColumn="gameScreenshotGameId">
			<id property="id" column="gameScreenshotId" />
			<result property="thumbnail" column="gameScreenshotThumbnail" />
			<result property="image" column="gameScreenshotImage" />
		</collection>
		<collection property="genres" ofType="Genre" foreignColumn="gameGenreGameId">
			<id property="id" column="gameGenreId" />
			<result property="description" column="gameGenreDescription" />
		</collection>
		<collection property="categories" ofType="Category" foreignColumn="gameCategoryGameId">
			<id property="id" column="gameCategoryId" />
			<result property="description" column="gameCategoryDescription" />
		</collection>
		<collection property="publishers" ofType="Publisher" foreignColumn="gamePublisherGameId">
			<id property="id" column="gamePublisherId" />
			<result property="name" column="gamePublisherName" />
		</collection>
		<collection property="developers" ofType="Developer" foreignColumn="gameDeveloperGameId">
			<id property="id" column="gameDeveloperId" />
			<result property="name" column="gameDeveloperName" />
		</collection>
		<collection property="platforms" ofType="OsFamily" foreignColumn="gameOsFamilyGameId">
			<id property="id" column="gameOsFamily" />
		</collection>
		<collection property="requirementAdder" ofType="TypedRequirement" foreignColumn="requirementGameId">
			<id property="id" column="requirementId" />
			<result property="type" column="requirementType" />
			<result property="osFamily" column="requirementOsFamily" />
			<result property="memory" column="requirementMemory" />
			<result property="storage" column="requirementStorage" />
			<collection property="processorAdder" ofType="Processor" foreignColumn="requirementProcessorRequirementId">
				<id property="id" column="requirementProcessorId" />
				<result property="model" column="requirementProcessorModel" />
				<result property="cores" column="requirementProcessorCores" />
				<result property="threads" column="requirementProcessorThreads" />
				<result property="frequency" column="requirementProcessorFrequency" />
				<result property="instructionSet" column="requirementProcessorInstructionSet" />
				<association property="brand" javaType="Brand" foreignColumn="requirementProcessorRequirementId">
					<id property="id" column="requirementProcessorBrandId" />
					<result property="name" column="requirementProcessorBrandName" />
				</association>
			</collection>
			<collection property="graphicsAdder" ofType="Graphics" foreignColumn="requirementGraphicsRequirementId">
				<id property="id" column="requirementGraphicsId" />
				<result property="model" column="requirementGraphicsModel" />
				<result property="memory" column="requirementGraphicsMemory" />
				<result property="frequency" column="requirementGraphicsFrequency" />
				<result property="directXVersion" column="requirementGraphicsDirectXVersion" />
				<result property="openGlVersion" column="requirementGraphicsOpenGlVersion" />
				<association property="brand" javaType="Brand" foreignColumn="requirementGraphicsRequirementId">
					<id property="id" column="requirementGraphicsBrandId" />
					<result property="name" column="requirementGraphicsBrandName" />
				</association>
			</collection>
			<collection property="operatingSystems" ofType="OperatingSystem" foreignColumn="requirementOperatingSystemRequirementId">
				<id property="id" column="requirementOperatingSystemId" />
				<result property="osFamily" column="requirementOperatingSystemFamily" />
				<result property="name" column="requirementOperatingSystemName" />
				<association property="version" javaType="Version" foreignColumn="requirementOperatingSystemRequirementId">
					<constructor>
						<arg column="requirementOperatingSystemVersionName" javaType="String" />
						<arg column="requirementOperatingSystemVersionMajor" javaType="int" />
						<arg column="requirementOperatingSystemVersionMinor" javaType="int" />
						<arg column="requirementOperatingSystemVersionBugfx" javaType="int" />
						<arg column="requirementOperatingSystemVersionBuild" javaType="int" />
					</constructor>
				</association>
				<association property="developer" javaType="Developer" foreignColumn="requirementOperatingSystemRequirementId">
					<id property="id" column="requirementOperatingSystemDeveloperId" />
					<result property="name" column="requirementOperatingSystemDeveloperName" />
				</association>
			</collection>
		</collection>
	</resultMap>

	<sql id="gameFieldNames">
		gameId,
		gameName,
		gameRequiredAge,
		gameDescription,
		gameHeaderImage,
		gameWebsite,
		gameMetacriticScore,
		gameMetacriticUrl,
		gameReleaseDate,
		gameBackgroundImage,

		gameScreenshotGameId,
		gameScreenshotId,
		gameScreenshotThumbnail,
		gameScreenshotImage,

		gameGenreGameId,
		gameGenreId,
		gameGenreDescription,

		gameCategoryGameId,
		gameCategoryId,
		gameCategoryDescription,

		gamePublisherGameId,
		gamePublisherId,
		gamePublisherName,

		gameDeveloperGameId,
		gameDeveloperId,
		gameDeveloperName,

		gameOsFamilyGameId,
		gameOsFamily,

		requirementGameId,
		requirementType,
		requirementId,
		requirementOsFamily,
		requirementMemory,
		requirementStorage,

		requirementOperatingSystemRequirementId,
		requirementOperatingSystemId,
		requirementOperatingSystemFamily,
		requirementOperatingSystemName,
		requirementOperatingSystemVersionName,
		requirementOperatingSystemVersionMajor,
		requirementOperatingSystemVersionMinor,
		requirementOperatingSystemVersionBugfx,
		requirementOperatingSystemVersionBuild,
		requirementOperatingSystemDeveloperId,
		requirementOperatingSystemDeveloperName,

		requirementProcessorRequirementId,
		requirementProcessorId,
		requirementProcessorModel,
		requirementProcessorCores,
		requirementProcessorThreads,
		requirementProcessorFrequency,
		requirementProcessorInstructionSet,
		requirementProcessorBrandId,
		requirementProcessorBrandName,

		requirementGraphicsRequirementId,
		requirementGraphicsId,
		requirementGraphicsModel,
		requirementGraphicsMemory,
		requirementGraphicsFrequency,
		requirementGraphicsDirectXVersion,
		requirementGraphicsOpenGlVersion,
		requirementGraphicsBrandId,
		requirementGraphicsBrandName
	</sql>

	<!-- Methods from BaseMapper. -->
	<insert id="insert" parameterType="Map" useGeneratedKeys="true" keyProperty="obj.id">
	</insert>
	<update id="update" parameterType="Map">
	</update>
	<insert id="save" parameterType="Map" useGeneratedKeys="true" keyProperty="obj.id">
	</insert>
	<delete id="delete" parameterType="Map">
	</delete>
	<select id="exists" parameterType="Map" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			Game
		WHERE
			id = #{id}
	</select>
	<select id="findById" parameterType="Map" resultMap="game">
		SELECT
			<include refid="gameFieldNames" />
		FROM
			View_Game
		WHERE
			gameId = #{id}
	</select>
	<select id="find" resultMap="game">
		SELECT
			<include refid="gameFieldNames" />
		FROM
			View_Game
	</select>

	<!-- Methods from GameMapper. -->
<!--
addDeveloper(int, int)
removeDeveloper(int, int)
addPlatform(int, OsFamily)
removePlatform(int, OsFamily)
addPublisher(int, int)
removePublisher(int, int)
addCategory(int, int)
removeCategory(int, int)
addGenre(int, int)
removeGenre(int, int)
addScreenshot(int, int)
removeScreenshot(int, int)
addRequirement(int, OsFamily, int, RequirementType)
removeRequirement(int, OsFamily)
-->
	<insert id="addDeveloper" parameterType="Map">
		INSERT IGNORE INTO Game_Developer (
			gameId,
			developerId
		) VALUES (
			#{id},
			#{developerId}
		)
	</insert>
	<delete id="removeDeveloper" parameterType="Map">
		DELETE
		FROM
			Game_Developer
		WHERE
			gameId = #{id}
			AND
			developerId = #{developerId}
	</delete>
	<insert id="addPlatform" parameterType="Map">
		INSERT IGNORE INTO Game_OsFamily (
			gameId,
			osFamily
		) VALUES (
			#{id},
			#{platform}
		)
	</insert>
	<delete id="removePlatform" parameterType="Map">
		DELETE
		FROM
			Game_OsFamily
		WHERE
			gameId = #{id}
			AND
			osFamilyId = #{platform}
	</delete>
	<insert id="addPublisher" parameterType="Map">
		INSERT IGNORE INTO Game_Publisher (
			gameId,
			publisherId
		) VALUES (
			#{id},
			#{publisherId}
		)
	</insert>
	<delete id="removePublisher" parameterType="Map">
		DELETE
		FROM
			Game_Publisher
		WHERE
			gameId = #{id}
			AND
			publisherId = #{publisherId}
	</delete>
	<insert id="addCategory" parameterType="Map">
		INSERT IGNORE INTO Game_Category (
			gameId,
			categoryId
		) VALUES (
			#{id},
			#{categoryId}
		)
	</insert>
	<delete id="removeCategory" parameterType="Map">
		DELETE
		FROM
			Game_Category
		WHERE
			gameId = #{id}
			AND
			categoryId = #{categoryId}
	</delete>
	<insert id="addGenre" parameterType="Map">
		INSERT IGNORE INTO Game_Genre (
			gameId,
			genreId
		) VALUES (
			#{id},
			#{genreId}
		)
	</insert>
	<delete id="removeGenre" parameterType="Map">
		DELETE
		FROM
			Game_Genre
		WHERE
			gameId = #{id}
			AND
			genreId = #{genreId}
	</delete>
	<insert id="addScreenshot" parameterType="Map">
		INSERT IGNORE INTO Game_Screenshot (
			gameId,
			screenshotId
		) VALUES (
			#{id},
			#{screenshotId}
		)
	</insert>
	<delete id="removeScreenshot" parameterType="Map">
		DELETE
		FROM
			Game_Screenshot
		WHERE
			gameId = #{id}
			AND
			screenshotId = #{screenshotId}
	</delete>
	<insert id="addRequirement" parameterType="Map">
		INSERT IGNORE INTO Game_Requirement (
			gameId,
			osFamily,
			requirementId,
			reqType
		) VALUES (
			#{id},
			#{platform},
			#{requirementId},
			#{requirementType}
		)
	</insert>
	<delete id="removeRequirement" parameterType="Map">
		DELETE
		FROM
			Game_Requirement
		WHERE
			gameId = #{id}
			AND
			osFamily = #{platform}
	</delete>
</mapper>
